
@keyframes fadeUp {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

h1 {
  animation: fadeUp 1s ease-in;
}


.fade-up {
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Saat elemen terlihat di viewport */
.fade-up-animate {
  opacity: 1;
  transform: translateY(0);
}

#home {
  position: relative;
  overflow: hidden;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1; /* Di belakang konten */
}

.heading, .paragraf, a {
  z-index: 10; /* Konten di atas wave */
  position: relative;
}
